---
---

@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

.demo-sidebar-toggler {
    color: $navbar-light-color;

    cursor: pointer;

    padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
    @include font-size($navbar-toggler-font-size);
    line-height: 1;
    background-color: transparent;
    border: $border-width solid $navbar-light-toggler-border-color;
    @include border-radius($navbar-toggler-border-radius);
    @include transition($navbar-toggler-transition);

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 $navbar-toggler-focus-width;
    }

    .demo-sidebar-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: escape-svg($navbar-light-toggler-icon-bg);
    }
}

.code-block {
    white-space: pre-wrap;
}
