---
---
@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

$c4i_bg_color: #ececec;
$c4i_fg_color: #212529;

:root {
    --panel-width: 280px;
    @media (min-width: 36em) {
      --panel-width: 350px;
    }
}

#c4i-sidebar {
    padding: 40px 0;
    transition: all .4s ease;
    background-color: $c4i_bg_color;
    color: $c4i_fg_color;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: block !important;
    position: fixed;
    box-sizing: border-box;
    width: var(--panel-width);
    overflow-y: scroll;

    font-family: Roboto, sans-serif;
    font-size: 14px;

    &.lhs {
        left: calc(-1 * var(--panel-width) - 20px);
        box-shadow: 4px 4px 16px opaque($c4i_bg_color, rgba(0, 0, 0, .6));

        &.show {
            left:0;
        }
    }

    &.rhs {
        right: calc(-1 * var(--panel-width) - 20px);
        box-shadow: -4px 4px 16px opaque($c4i_bg_color, rgba(0, 0, 0, .6));

        &.show {
            right:0;
        }
    }

    * {
        all: unset;
    }

    h2, h3, strong {
        font-weight: bold;
    }

    h2 a, h3 {
        display: block;
        padding: 0 32px;
    }

    h2 a {
        &:hover {
            background-color: inherit;
        }

        img {
            width:100px;
        }
    }
    
    h2 {
        font-size: 1.5em;
        margin: .83em 0;
    }

    h3 {
        font-size: 1.2em;
        margin: 1em 0 0;
        border-bottom: 1px solid tint-color($c4i_fg_color, 75);
		padding-bottom: 0.5em;
		color: tint-color($c4i_fg_color, 25);
    }

    h4 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 32px;
        margin-right: 10px;
        font-size: 1.25rem;
        font-weight: 300;
        display: block!important;
    }
    
    strong {
		font-size: 1.2em;
    }

    a {
        cursor: pointer;
        color: tint-color($c4i_fg_color, 5);
        display: block;
        text-decoration: none;

        &:hover {
            background-color: tint-color($c4i_bg_color, 60);
        }
    }

    ul {
        padding: 0;

        li {
            display: block;
            list-style: none;
            line-height: 1.35;
            padding: 10px 32px;

            &.active, &:hover {
                background-color: tint-color($c4i_bg_color, 60);

                a {
                    color: shade-color($c4i_fg_color, 20);
                }
            }
        }
    }

    #c4i-close {
      box-sizing: content-box;
      position:absolute;
      top:0;
      right:0;
      cursor: pointer;

      width: $btn-close-width;
      height: $btn-close-height;
      padding: 16px;
      color: $btn-close-color;
      background: transparent escape-svg($btn-close-bg) center / $btn-close-width auto no-repeat; // include transparent for button elements
      border: 0; // for button elements
      @include border-radius();
      opacity: $btn-close-opacity;

      // Override <a>'s hover style
      &:hover {
        color: $btn-close-color;
        text-decoration: none;
        opacity: $btn-close-hover-opacity;
      }

      &:focus {
        outline: 0;
        box-shadow: $btn-close-focus-shadow;
        opacity: $btn-close-focus-opacity;
      }

      &:disabled,
      &.disabled {
        pointer-events: none;
        user-select: none;
        opacity: $btn-close-disabled-opacity;
      }
    }
}
